<h1>Confirm You Are Of Legal Age</h1>
<p>Do you confirm that you are of legal age to view sexual gay content?</p>
<!-- <p class="small grey">The skill system is flexible allowing any skill to be applied to any character with varying effects. Generally an intelligence based class like a Mage will never be as good as a physical skill, like Bash, as a strength class.</p> -->
