<div class="col-md-12">
	<h2 class="green">Command Help</h2>
	<p>Overview of Atlas current commands. No command is case sensitive.</p>
</div>
<div class="col-md-6">
	<dl>
		<dt>North, East, South, West, Up, Down</dt>
		<dd>General movement directions. All possible directions map to the move command.</dd>
		<dd>Aliases: n, e, s, w, u, d respectively.</dd>

		<dt>Look [target]</dt>
		<dd>Look closely at something. If you do not give a target the current room is selected.</dd>
		<dd>Ex: look</dd>

		<dt>Ask [target] [topic]</dt>
		<dd>Ask an NPC about a topic to get more information.</dd>
		<dd>Ex: ask villager weather</dd>

		<dt>Score</dt>
		<dd>Your character stats and affects.</dd>

		<dt>Skills</dt>
		<dd>Your character skills and spells.</dd>

		<dt>Inventory</dt>
		<dd>Held items.</dd>
		<dd>Aliases: i</dd>

		<dt>Equipment</dt>
		<dd>View worn equipment and open slots.</dd>
		<dd>Aliases: eq</dd>

		<dt>Stand</dt>
		<dd>Stop sleeping or resting and return to the 'default' position.</dd>

		<dt>Rest</dt>
		<dd>Take a resting position for increased regeneration. Cannot perform some actions.</dd>

		<dt>Sleep</dt>
		<dd>Begin to sleep to greatly increase regeneration.</dd>

		<dt>Open [direction]</dt>
		<dd>Open a closed door/pathway in a given direction. Giving the command a target will also work.</dd>
		<dd>Ex: open down OR open gate</dd>

		<dt>Close [direction]</dt>
		<dd>Close an opened door/pathway in a given direction. Giving the command a target will also work.</dd>
		<dd>Ex: close down OR close gate</dd>

		<dt>Unlock [direction]</dt>
		<dd>Unlock a pathway once you have the key in your inventory.</dd>
		<dd>Ex: unlock gate</dd>

		<dt>Lock [direction]</dt>
		<dd>Lock a pathway once you have the key in your inventory.</dd>
		<dd>Ex: lock gate</dd>

		<dt>Time</dt>
		<dd>Current mud time and status.</dd>

		<dt>Who</dt>
		<dd>All visible players.</dd>

		<dt>Title [new title]</dt>
		<dd>The words that appear after your characters name on the score card and who window. Defaults to race and class.</dd>
	</dl>
</div>
<div class="col-md-6">
	<dl>
		<dt>Get [item]</dt>
		<dd>Pick up a target item in the current room or target container. Use get all to retrieve all of the items on the floor.</dd>
		<dd>Ex: get bread OR get key bag</dd>

		<dt>Drop [item]</dt>
		<dd>Drop a target item.</dd>
		<dd>Ex: drop bread OR drop all</dd>

		<dt>Wear [item]</dt>
		<dd>Wear a target item. It must be in your inventory</dd>
		<dd>Ex: wear sword</dd>

		<dt>Remove [item]</dt>
		<dd>Remove a target item. It must be in your inventory.</dd>
		<dd>Ex: remove sword</dd>

		<dt>Move [direction]</dt>
		<dd>General movement command. The other movement commands are aliases of move.</dd>
		<dd>Ex: move north</dd>

		<dt>Explore</dt>
		<dd>Explore the current location to search for secrets.</dd>
		<dd>Ex: explore</dd>

		<dt>Say</dt>
		<dd>Send a message to everyone in the current room.</dd>
		<dd>Ex: say hello</dd>

		<dt>Restart</dt>
		<dd>Restart your character.</dd>
		<dd>Ex: restart</dd>

		<dt>Save</dt>
		<dd>Save your character to ensure you do not lose progress.</dd>
		<dd>Ex: save</dd>

		<dt>Kill [target]</dt>
		<dd>Begin combat with a target.</dd>
		<dd>Alias: k boar</dd>

		<dt>Flee [direction]</dt>
		<dd>Try to flee from battle. Name a direction or it will be randomized.</dd>
		<dd>Ex: flee</dd>

		<dt>Cast [spell name] [target]</dt>
		<dd>Cast a spell. If you're already fighting you do not need to name the target.</dd>
		<dd>Ex: cast spark boar</dd>

		<dt>Emote [message to room]</dt>
		<dd>Emote an action to the room.</dd>
		<dd>Ex: emote nods</dd>

		<dt>Eat [food item in inventory]</dt>
		<dd>Ex: eat pie</dd>

		<dt>Drink [liquid in inventory or room]</dt>
		<dd>Ex: drink waterskin</dd>

		<dt>Scan</dt>
		<dd>Glance at adjacent rooms.</dd>
	</dl>
</div>
