<h1>Player Races</h1>
<table class="table">
	<thead>
		<tr>
			<th>Name</th>
			<th>About</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<th scope="row">Human</th>
			<td>Humans have no particular strengths or weaknesses. Humans are everywhere, doing everything.</td>
		</tr>
	</tbody>
</table>
